body{
  margin:0;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size:12px;
  background: rgb(0,36,5);
/*  background: linear-gradient(90deg, rgba(0,36,5,1) 0%, rgba(9,121,37,1) 35%, rgba(0,255,51,0.4598433123249299) 100%); */

  background-image: url('./images/bg.png') ;
  background-size: auto auto;

}



.inner_body{
  width : 98%;
  margin-left:auto;
  margin-right:auto;
  background-color: #ffffff; 
  height:90%;
  border-radius: 10px;
  padding-top:10px;
}


.message{
  text-align:center;
  color:#FF9100;
  font-weight:bold;
  font-size:1.2em;
}

.error_message{
  text-align:center;
  color:#db1d04;
  font-weight:bold;
  font-size:1.2em;
}

.success_message{
  text-align:center;
  font-weight:bold;
  font-size:1.2em;
  color:#3a8a01;
}

.info_message{
  text-align:center;
  font-weight:bold;
  font-size:1.2em;
}


.login_outer_container {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.login_middle_container {
  display: table-cell;
  vertical-align: top;
  padding-top:300px;

}

.login_form{
  border-right: 2px ridge lightgray;
  padding-right:50px;
  height:200px;
  align-content:center ;
}

.login_version{
  font-size:0.2em;
  padding-top: 20px;
}


.login_inner_container {
/*  margin-left: auto;
  margin-right: auto; */
  width: 100%;
  /* Whatever width you want */
  vertical-align:top;
}

.login_inner_container span{
  display:inline-grid;

}

.login_product_info {
  padding-left: 100px;
  font-size: 6em;
  color:#ffffff;
  font-weight:bold;
}


.tbl_login{
  width: 400px;
  color:#ffffff;
}

.li_navigation{
  float:left;
  width:15%;
  margin-left:10px;
}
.li_summary{
  margin-left:10px;
  margin-bottom:20px;
}

.li_host{
  margin-left:10px;
  margin-bottom:15px;
}
.li_vm{
  margin-left:10px;
}
.li_ds{
  margin-left:10px;
}
.li_vswitch{
  margin-left:10px;
}

.li_settings{
  margin-left:20px;
  margin-bottom:15px;
}

.sp_nav_set_roles:hover{
  cursor: pointer;
}


#main_container{
  float:right;
  width:80%; 
}

#main_container table th {
  text-align:left;
/*  width:30%; */
}

#main_container table {
 /* width:80%; */
}


.header_content{
 /* background: rgb(0,36,5);
  background: linear-gradient(90deg, rgba(0,36,5,1) 0%, rgba(9,121,37,1) 35%, rgba(0,255,51,0.4598433123249299) 100%); */
  padding-left: 15px;  
  padding-right:15px;
  color:white;
  height:60px;

  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.header_content table td  h2{
  color: white;
  font-size: 2.1em;
  letter-spacing: 2px;
  word-spacing: 2px;
  
}

.header_content table td a{
  color: white;
  font-size: 12px;
  
}



.spn_50 {
  width:48%;
  display: inline-block;
  vertical-align:top;
}

.spn_100 {
  width:99%;
  display: inline-block;
  vertical-align:top;
}


.tbl_info_header{
  background: #e7e9ea;
  font-weight:bold;
}

.tbl_vm_info{
 font-size:12px;
 width: 99%;
}

.tbl_vms_info{
 font-size:12px;
 width: 99%;
}

.tbl_ds_info{
  font-size:12px;
  width: 99%;
}

.tbl_ds_info th{
  width:30%;
  background: #e4eff6;
}

.tbl_ds_content{
  font-size:12px;
  width: 99%;

}

.tbl_vswitch_info{
  font-size:12px;
  width: 99%;
}

.tbl_vswitch_info th{
/*  width:30%; */
  background: #e4eff6;
}

.tbl_vswitch_content{
  font-size:12px;
  width: 99%;

}

.tbl_vswitch_visual_portgroup {
  width: 100px;
  height: 100px;
  background: #e4eff6;
  font-size:0.8em;
  border-bottom: 1pt solid #539ac6;
  border-top: 1pt solid #539ac6;
  padding-left:10px;
  padding-right:10px;
}

.tbl_vswitch_visual_vm{
  width: 250px;
  height: 100px;
  padding-left:10px;
  padding-right:10px;
  vertical-align:top;
  font-size:0.8em;
  border-bottom: 1pt solid #539ac6;
  border-top: 1pt solid #539ac6;
  font-weight:normal;

}

.tbl_vswitch_visual_vm_link:hover{
  cursor: pointer;
  font-weight:bold;
}

.tbl_vswitch_visual_filler{
  width: 200px;
  height: 20px;
  background: #e4eff6;
}


.tbl_vswitch_visual_icon{
  width: 70px;
  height: 100px;
  background: #e4eff6;
  background-size: 50px 50px;
  background-image: url(./images/ethernet_off.png);
  background-repeat:no-repeat;
  background-position:left center;

  border-bottom: 1pt solid #539ac6;
  border-top: 1pt solid #539ac6;
}

.tbl_vswitch_visual_icon_connected{
  width: 70px;
  height: 100px;
  background: #e4eff6;
  background-size: 50px 50px;
  background-image: url(./images/ethernet_on.png);
  background-repeat:no-repeat;
  background-position:left center;

  border-bottom: 1pt solid #539ac6;
  border-top: 1pt solid #539ac6;
}


.tbl_vswitch_visual_icon_filler{
  width: 70px;
  height: 20px;
  background: #e4eff6;

}


.tbl_vm_info th{
  background: #e4eff6;
  width:30%;

}


.tbl_vms_info th{
  background: #e4eff6;
}


.tbl_vm_snapshots{
 font-size:12px;
}

.tbl_vm_snapshots th{
 background: #e4eff6;
 width:auto;
}

.tbl_vm_snapshots td{
  white-space: nowrap;
}

.tbl_host_info{
 font-size:12px;
 margin-bottom:20px;
 width:99%;
}

.tbl_host_info th{
  background: #e4eff6;

}

.tbl_hw_info {
 font-size:12px;
 width:99%;
}

.tbl_hw_info th{
  background: #e4eff6;
  width:30%;
}

.tbl_role_info th {
  background: #e4eff6;
}

.tbl_role_info{
  font-size:12px;
  width: 99%;
}

.tbl_role_info img {
  height:16px;
  float:right;
  margin-right:5px;
}



.sp_nav_summary:hover{
  cursor: pointer;
}

.sp_nav_host:hover{
  cursor: pointer;
}

.sp_nav_vm:hover{
  cursor:pointer;
}

.sp_nav_ds{
  cursor:pointer; 
}

.sp_nav_vswitch{
  cursor:pointer;
}


.btn_command{
  font-weight:normal;
}

.btn_command:hover{
  font-weight:bold;
  cursor:pointer;
}

#main_content_pane{
  height:100%;
  overflow-y:scroll;
}



.sticky_th {
  background: #e4eff6;
  position: sticky;
  top: 0; /* Don't forget this, required for the stickiness */
/*  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4); */
}

.header_icon{
  height: 40px;
}





